body {
    margin: 0;
    font-family: Inter;
    background: black;
}

.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#topBar {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 80px;
    background: #393939;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;

}
.directionButton {
    width: 27px;
}
.directionGroup {
    background: linear-gradient(90deg, #FF0000 0%, #FA00FF 100%);

    margin-top: 10px;
    border-radius: 5px;
    padding-top:2px;
    width: max-content;
    box-shadow: 0px 4px 4px 0px #00000040;

}
#goForward {
    
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 20px;
}
.grayed {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}
#goBack {
}
#goAdd {
    color: white;
    margin-right: 60px;
    margin-top: 0px;
    float: right;
    font-size: 40px;
    line-height: 50px;
}
#path {
    border-radius: 5px;
    margin-top: 10px;
    width: calc(100% - 25px);
    height: 25px;
    padding-left: 5px;
    line-height: 25px;
    font-weight: 300;
    background: #9B9B9B;
    color: white;
    box-shadow: 0px 4px 4px 0px #00000040;


}
#fileSystem {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
.headers {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}
.header {
    text-align: center;
    font-weight: bold;

}
.addItemText {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
}
.addMenu {
    display: none;
    position: absolute;
    z-index: 100;
    background: #343434;
    width: 180px;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-weight: 300;
}
.option {
    height: 30px;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}
.addButton {
    width: 90px;
    height: 60px;
    text-align: center;
    font-size: 60px;
    margin: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;


    line-height: 50px;
    border-radius: 5px;
    background: #69696980;


}
.folderImage {

}
.folderTitle {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
    text-align: center;
}
.folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 100px;
}


.addItemScreen {
    position: absolute;
    display: none;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    height: 60%;
    background: #343434;
    padding: 10px;
    color: white;
    box-shadow: 0px 4px 4px 0px #00000040;

    border-radius: 5px;
}
.addTitle {
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: 600;

}
.folderNameInputGroup {
    display: flex;
    margin-top: 20px;
}
.aiInputTitle {
    width: 40%;
}
.aiInput {
    outline: none;
    border: none;
    height: 20px;
    padding-left: 5px;
    width: 60%;
    border-radius: 5px;
    color: white;
    background: #606060;

}
.aiCreate {
    bottom: 10px;
    width: 100%;
    background: linear-gradient(90deg, #FF00D6 0%, #FF0000 100%);
    text-align: center;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.afsOptionList {
    flex-grow: 1;
    margin-top: 20px;
}

.aiCheckGroup {
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.aiCheckTitle {
    float: left;
    line-height: 20px;
}
.aiCheckBox {
    float: right;
    width: 20px;
    border-radius: 5px;
    height: 20px;
    border: 2px solid white;
    background-size: 33px 33px;
}